Package: initialise-live
Version: 1.0.2
Architecture: amd64
Maintainer: Robert Key robkey@mighty.co.za
Section: myown
Priority: optional
Description: This package initialises the ubuntu live system. Sets up account colours, gpg keys, local repository, local subversion, sudoers, user account
